In [1]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\python311\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\python311\lib\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector as connector
connection = connector.connect(user = "coursera", password = "coursera")

In [3]:
cursor = connection.cursor()

In [4]:
set_database = """use LittleLemonDB"""
cursor.execute(set_database)

In [5]:
show_tables_query = "SHOW tables" 
results=cursor.execute(show_tables_query)

In [6]:
tables = cursor.fetchall()
for t in tables:
    print(t)

('booking',)
('bookings',)
('customer',)
('customers',)
('deliverystatus',)
('menu',)
('order_delivery_status',)
('orders',)
('staff',)

In [7]:
join_query = """
    select concat('c.first_name', 'c.last_name') as FullName, b.BookingID, 
    c.phone,c.city,c.country
    from Customers c join Bookings b on c.BookingID = b.BookingID
    join Orders o on b.OrderID = o.OrderID
    where o.totalCost > 60 order by o.totalCost desc; 
"""
cursor.execute(join_query)

In [8]:
customers = cursor.fetchall()
print(f'There are {len(customers)} customer with more than 60$ purchase amount')
print("Top customers: ...")
for customer in customers[:10]:
    print('=' * 50)
    print(f'Full Name: \t {customer[0]}')
    print(f'Email: \t\t {customer[1]}')
    print(f'Phone Number: \t {customer[2]}')
    print(f'Address: \t {customer[3]}')
    print(f'Country: \t {customer[4]}')
    print(f'City: \t\t {customer[5]}')
    print(f'Has spent: \t {float(customer[6])}')

There are 0 customer with more than 60$ purchase amount
Top customers: ...